.page {
    font-family: 'Roboto', sans-serif;
}

/*-------------HEADER------------*/
.container {
    max-width: 1128px;
    margin: 0 auto;
}

.header {
    margin: 24px auto 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    list-style: none;
}

.header-list {
    display: flex;
}

.header-items {
    margin-right: 76px;
}

.header-link {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
}

.header-item {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.header-items-list {
    margin-right: 40px;
}

li :active {
    background: #404BBF;
}

.header-link-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-contact {
    display: flex;
}

li :active {
    background: #404BBF;
}

.header-title {
    margin-right: 40px;
}

.header-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---------------Section button------------------*/
.all {
    margin: 96px auto 72px;
    max-width: 586px;
}

.all-menu {
    display: flex;
    justify-content: space-between;
}

.btn {
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    padding: 12px 24px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    border: none;
}

.btn:hover,
.btn:focus {
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    transition: 2s;
    cursor: pointer;
}

/*---------------Section 2 Cards------------------*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.box-grow {}

.grow {
    margin: 0 48px auto;
}

.grow-flex {
    display: flex;
    gap: 24px;
    padding-bottom: 48px;
}

.grow-item {
    padding: 32px 54px 32px 16px;
    border: 1px solid #E7E9FC;
}

.grow-pre-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.grow-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

img {
    display: block;
    max-width: 360px;
    height: 300px;
}

/*---------------------Footer-------------------*/
.footer {
    background: #2E2F42;
    padding: 100px 0 100px 156px;
    margin-top: 72px;
}

.footer-items {}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    max-width: 264px;
    padding-top: 16px;
}