.page {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

/*-------------HEADER------------*/
.container {
    max-width: 1160px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header>.container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
    margin-right: 76px;
}

.header-roster:not(:last-child) {
    margin-right: 40px;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.header-link:hover,
.header-link:focus {
    color: #4D5AE5;
}

.header-link:active {
    background: #9aa1ef;
}

.header-contact {
    display: flex;
    margin-right: auto;
    margin-left: 331px;
}

.header-email {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    margin-right: 40px;
}

.header-phone {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.header-border {
    border-bottom: 1px solid #E7E9FC;
}

/*---------------Section------------------*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-right: -24px;
    margin-bottom: 72px;
}

.btn {
    flex-basis: calc((100% - 96px)/ 5);
    margin-right: 24px;
}

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    padding: 12px 24px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    border: none;
}

.btn:hover,
.btn:focus {
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    transition: 2s;
    cursor: pointer;
}

.grow {
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-bottom: -48px;
}

.grow-element {
    display: inline-block;
    flex-basis: calc((100% - 48px)/ 3);
    margin-right: 24px;
    margin-bottom: 48px;
    border: 1px solid #E7E9FC;
}

.grow-element:nth-child(3n) {
    margin-right: 0;
}

.grow-item {
    padding: 32px 16px 32px 16px;
}

.grow-pre-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.grow-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*---------------------Footer-------------------*/
.footer {
    background: #2E2F42;
    padding: 100px 0 100px 156px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    max-width: 264px;
    padding-top: 16px;
}