.page {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

:root {
    --bg-color-dark: #2e2f42;
    --bg-color-light: #f4f4fd;
    --text-color: #434455;
    --second-title-color: #2e2f42;
    --nav-link-color: #2E2F42;
    --btn-color: #4d5ae5;
    --btn-active: #404bbf;
    --link-color-blue: #404bbf;
    --part-logo-color: #4d5ae5;
    --color-white: #fff;
    --icon-bg: #4d5ae5;
    --icon-wrapper-color: #f4f4fd;
    --customers-link-color: #8E8F99;
    --portfolio-border-color: #f4f4fd;
    --portfolio-text-color: #f4f4fd;
    --bg-overlay: #4d5ae5;
    --footer-logo-color: #f4f4fd;
    --footer-text-color: #e7e9fc;
    --border-color: #e7e9fc;
    --footer-bg-icons: rgba(255, 255, 255, 0.1);
    --hover-soc-link: #31D0AA;
    --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-bg-color: rgba(46, 47, 66, 0.4);
    --modal-bg-color: #FCFCFC;
    --modal-btn-bg: #E7E9FC;
    --modal-input-border: #4D5AE5;
    --modal-checkbox: #404bbf;
    --modal-checkbox-border: #2E2F42;
    --modal-text-policy: #757575;
    --modal-text: #8E8F99;
    --modal-input-text: #0d0e12;
}

.list {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
    margin: 0;
}

ul {
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

/*-------------HEADER------------*/
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header .container,
.menu-list,
.header-contact,
.section-hero .list,
.projects .list,
.team .list,
.customers .list,
.footer .container {
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--nav-link-color);
    text-decoration: none;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header .logo-web {
    color: var(--part-logo-color);
}

.header-roster {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-roster:not(:last-child) {
    margin-right: 40px;
}

.menu-list .menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--nav-link-color);
    text-decoration: none;
    transition: color var(--transition);
}

.menu-list .active::after {
    content: '';
    position: absolute;
    bottom: -28px;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--link-color-blue);
    border-radius: 2px;
}

.header .menu-link:hover,
.header .menu-link:focus,
.menu-link.active,
.header-contact .menu-link:hover,
.header-contact .menu-link:focus {
    color: var(--link-color-blue);
}

.menu-link:active {
    background: var(--part-logo-color);
}

.header-contact .menu-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    transition: color var(--transition);
}

.header {
    border-bottom: 1px solid var(--footer-text-color);
}

/*-------------SECTION SOLUTIONS------------*/
.solutions {
    background: var(--bg-gradient), url(../images/people-office.jpg) center;
    background-size: cover;
    max-width: 1440px;
    text-align: center;
    padding: 188px 0 179px 0;
    margin: 0 auto;
}

.solutions .solutions-title {
    max-width: 495.1px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto 57px;
}

.solutions .btn {
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-white);
    letter-spacing: 0.04em;

    padding: 16px 32px;
    background: var(--btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color var(--transition);
}

.solutions .btn:hover,
.solutions .btn:focus {
    background: var(--btn-active);
}

/*-------------SECTION HERO------------*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-hero {
    padding-top: 120px;
}

.section-hero .list {
    flex-basis: calc((100% - 72px)/ 4);
}

.section-hero .list,
.projects .list,
.team .list,
.customers .list,
.portfolio .portfolio-list {
    gap: 24px;
}

.section-hero .wrapper-icon {
    background: var(--icon-wrapper-color);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 24px 0;
    text-align: center;
}

.section-hero .list .title {
    margin-bottom: 8px;
}

.section-hero .list .title,
.team .list .title,
.portfolio .grow .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.pre-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/*-------------SECTION PROJECTS------------*/
.projects {
    padding: 120px 0;
}

.projects .title,
.customers .title,
.team .title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--second-title-color);
    margin-bottom: 72px;
}

/*-------------SECTION TEAM------------*/
.team {
    padding: 120px 0;
    background: var(--bg-color-light);
}

.team .caption {
    text-align: center;
    background: var(--color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding: 32px 0;
}

.team .caption .title {
    margin-bottom: 8px;
}

.team .caption .pre-title {
    margin-bottom: 8px;
}

.team .caption .icons-list {
    justify-content: center;
}

.team .caption .link {
    display: block;
    background: var(--icon-bg);
    border-radius: 50%;
    padding: 12px;
    transition: background-color var(--transition);
}

.team .caption .link:hover,
.team .caption .link:focus {
    background: var(--link-color-blue);
}

.team .caption .icon,
.footer .social-media .icon {
    display: inherit;
}

/*---------------------SECTION CUSTOMERS-------------------*/
.customers {
    padding: 130px 0 120px;
}

.customers .list-item {
    flex-basis: calc(16.66667% - 20px);
}

.customers .link {
    text-align: center;
    padding: 16px 0;
    display: block;
    border: 1px solid var(--customers-link-color);
    border-radius: 4px;
    transition: border-color var(--transition);
}

.customers .icon {
    fill: var(--customers-link-color);
    transition: fill var(--transition);
}

.customers .link:hover,
.customers .link:focus {
    border: 1px solid var(--link-color-blue);
}

.customers .link:hover .icon,
.customers .link:focus .icon {
    fill: var(--link-color-blue);
}

/*---------------------FOOTER-------------------*/
.footer {
    background: var(--bg-color-dark);
    padding: 100px 0;
}

.footer .content {
    max-width: 264px;
    margin-right: 120px;
}

.footer .logo {
    display: block;
    width: 115px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
    color: var(--footer-logo-color);
}

.footer .logo-web {
    color: var(--part-logo-color);
}

.footer .pre-title {
    color: var(--footer-text-color);
}

/*---------------------SOCIAL MEDIA-------------------*/

.footer .social-media {
    margin-right: 80px;
}

.footer .social-media .title,
.footer .online .title {
    font-weight: 500;
    line-height: 1.5;
    font-size: inherit;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
}

.footer .social-media .list {
    display: flex;
    gap: 24px;
}

.footer .social-media .link {
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 8px;
    transition: background-color var(--transition);
}

.footer .social-media .link:hover,
.footer .social-media .link:focus {
    background: var(--hover-soc-link);
}

.footer .online .online-form {
    display: flex;
    gap: 24px;
}

.footer .subscribe {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    outline: none;

    font-size: 14px;
    color: var(--color-white);
}

.footer .subscribe:focus {
    border-color: var(--modal-input-border);
}

.footer .subscribe::placeholder {
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    align-items: center;
}

.footer .btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background: var(--btn-color);
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    gap: 16px;

    transition: background-color var(--transition);
    display: flex;
    align-items: center;
}

.footer .btn:hover,
.footer .btn:focus {
    background: var(--btn-active);
}

/*---------------MODAL WINDOW------------------*/
.backdrop {
    background: var(--backdrop-bg-color);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    transition: opacity var(--transition), visibility var(--transition);
}

.modal {
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform var(--transition);
    background: var(--modal-bg-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(270deg);
}

.modal .btn {
    /* position: absolute;
    right: 24px;
    top: 24px; 
    text-align: center; */
    padding: 7px;
    display: block;
    margin-left: auto;
    border-radius: 50%;
    background: var(--modal-btn-bg);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill var(--transition), background-color var(--transition), border-color var(--transition);
    margin-bottom: 24px;
}

.modal .btn:hover,
.modal .btn:focus {
    fill: var(--color-white);
    background: var(--btn-active);
    border-color: var(--btn-active);
}

.modal .btn .icon {
    display: block;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: inherit;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    align-items: center;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.input-text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--modal-text);
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;

    font-size: 14px;
    color: var(--modal-input-text);
    outline: none;
}

.modal-input:focus {
    border-color: var(--modal-input-border);
}

.modal-input:focus+.input-icon {
    fill: var(--modal-input-border);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-comment {
    margin-bottom: 16px 0;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    padding: 8px 0 0 16px;
    resize: none;

    font-size: 14px;
    color: var(--modal-input-text);
}

.modal-comment:focus {
    border-color: var(--modal-input-border);
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.input-check:checked+.check-text::before {
    background-color: var(--modal-checkbox);
    border: none;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color var(--transition);
}

.check-text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--modal-text-policy);
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.check-text::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--modal-checkbox-border);
    border-radius: 2px;
    display: block;
    margin-right: 8px;
    background-color: transparent;
    transition: border-color var(--transition);
}

.privacy-policy {
    padding-left: 4px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--modal-input-border);
    align-items: center;
}

.modal-form .btn {
    margin: 0 auto;
    display: flex;
    padding: 16px 32px;
    background: var(--btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 500;
    font-size: inherit;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    transition: background-color var(--transition);
}

.modal-form .btn:hover,
.modal-form .btn:focus {
    background: var(--btn-active);
}

/*---------------SECTION PORTFOLIO------------------*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio .btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-color);

    background: var(--bg-color-light);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    border: none;
    padding: 12px 24px;
    transition: border-color var(--transition), background-color var(--transition), box-shadow var(--transition), color var(--transition);
}

.portfolio .btn:hover,
.portfolio .btn:focus {
    background: var(--btn-active);
    border: 1px solid var(---btn-active);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--color-white);
}

.portfolio .grow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
}

.portfolio .grow-element {
    flex-basis: calc((100% - 48px)/3);
}

.portfolio .grow-element:nth-child(5n) {
    border: 1px solid var(--border-color);
}

.portfolio .grow-item {
    padding: 32px 0 32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio .link {
    text-decoration: none;
    transition: box-shadow var(--transition);
}

.portfolio .link:hover,
.portfolio .link:focus {
    border: 0.5px solid var(--portfolio-border-color);
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio .image-area {
    position: relative;
    overflow: hidden;
}

.portfolio .image-area .grow-text {
    position: absolute;
    top: 0;
    padding: 40px 32px 0;
    color: var(--portfolio-text-color);
    background: var(--bg-overlay);
    height: 100%;
    transform: translateY(100%);
    overflow: auto;
    transition: transform var(--transition);
}

.portfolio .link:hover .image-area .grow-text,
.portfolio .link:focus .image-area .grow-text {
    transform: translateY(0);
}

.portfolio .grow .title {
    margin-bottom: 8px;
}

.portfolio .grow-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}