.page {
    font-family: 'Roboto', sans-serif;
}

/*-------------HEADER------------*/
.container {
    max-width: 1128px;
    margin: 0 auto;
}

.header {
    margin: 24px auto 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    list-style: none;
}

.header-list {
    display: flex;
}

.header-items {
    margin-right: 76px;
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
}

.header-roster {
    margin-right: 40px;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.header-link:hover,
.header-link:focus {
    color: #4D5AE5;
}

.header-link:active {
    background: #9aa1ef;
}

.header-contact {
    display: flex;
}

.header-title {
    margin-right: 40px;
}

.header-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}


/*-------------SECTION 1 SOLUTIONS------------*/
.solutions {
    background: #2E2F42;
    padding: 188px 0 179px 0;
}

.solutions-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.solutions-btn {
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    letter-spacing: 0.04em;

    padding: 16px 32px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.solutions-btn:hover,
.solutions-btn:focus {
    background: #404BBF;
    transition: 2s;
    cursor: pointer;
}

.characteristics-box {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.box {
    padding: 120px 0;
}

.box-link {
    display: flex;
}

.box-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 8px;
}

.box-pre-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    display: flex;
    justify-content: center;
}

img {
    display: flex;
}

.team {}

.team-text {}

.team-items {}

.man {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---------------------Footer-------------------*/
.footer {
    background: #2E2F42;
    padding: 100px 0 100px 156px;
    margin-top: 72px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    max-width: 264px;
    padding-top: 16px;
}